{% extends 'base.html.twig' %}

{% block title %}Page d'accueil - {{ parent() }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/app.css') }}">
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/app.js') }}"></script>
{% endblock %}

{% block content %}
    {{ parent() }} <h2>Page d'accueil</h2>
    <p class="home__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus a sodales eros. Fusce malesuada tellus a accumsan accumsan. Donec eu massa tempus, consequat lacus eget, finibus risus. Nam eget sollicitudin mauris, vel lobortis tellus. Aenean ullamcorper dolor in ultrices bibendum. In hac habitasse platea dictumst. Sed tempor, felis vitae bibendum lacinia, dui erat fringilla nibh, sed semper ex purus ut leo. Donec et sapien non leo feugiat luctus non vel eros. Phasellus erat tortor, commodo quis tempor sed, placerat sit amet metus. Proin id leo velit.</p>

    <p class="home__text">Aenean ut est in urna venenatis ornare id sit amet orci. Sed quis rutrum est. Ut posuere felis ut turpis consequat, vel lacinia ante semper. Nullam pellentesque id metus ac posuere. Morbi vitae egestas ex. Sed dapibus ac magna id ornare. Integer ut erat neque. Maecenas augue ante, posuere sed metus eu, sollicitudin tincidunt diam.</p>

    <p class="home__text">Pellentesque eleifend placerat venenatis. Pellentesque eleifend ullamcorper risus, quis lacinia lacus vestibulum vitae. Vestibulum aliquam placerat iaculis. Aenean sagittis pulvinar sem sed ultricies. Quisque mattis nunc neque, quis congue nunc imperdiet et. Fusce pharetra ultrices erat, sodales eleifend nunc iaculis ut. Nam nec augue ex. Sed dictum purus quis arcu congue, at vestibulum massa volutpat. Pellentesque et malesuada velit. Phasellus vulputate aliquam diam, eget fringilla urna tempus viverra. Donec varius tristique ultrices.</p>
    <img src={{asset("img/salle-exercise.jpg")}} alt="Salle de sport" width = "40%">
    <img src={{asset("img/salle-machine-1623008.jpg")}} alt="Machine de sport" width = "40%">
    <img src={{asset("img/salle-sports1135753.jpg")}} alt="Salle de sport" width="40%">
    <img src={{asset("img/fitness.jpg")}} alt="fitness" width="40%">
{% endblock %}
