{% extends 'base.html.twig' %}

{% block title %}Page d'accueil - {{ parent() }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/app.css') }}">
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/app.js') }}"></script>
{% endblock %}

{% block content %}
    {{ parent() }} <h2>Page d'accueil</h2>
    <img src={{asset("img/salle-exercise.jpg")}} alt="Salle de sport" width = "40%">
    <img src={{asset("img/salle-machine-1623008.jpg")}} alt="Machine de sport" width = "40%">
    <img src={{asset("img/salle-sports1135753.jpg")}} alt="Salle de sport" width="40%">
    <img src={{asset("img/fitness.jpg")}} alt="fitness" width="40%">
{% endblock %}
